@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Monsterrat",sans-serif;

}

body,html, :root {
  height: 100%;
}

body {
  background: #2f4454;;
}

.test {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}